/* Contact.css */
.contact-section {
    padding: 50px 0 ;
    position: relative;
    align-content: center;
  }
  
  .contact-heading {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: white;
  }
  
  .contact-map {
    margin-bottom: 30px;
    margin-top: 45px !important;
  }
  
  .purple {
    color: #6f42c1;
  }
  
  .form-control {
    border-radius: 5px;
    box-shadow: none;
  }
  .contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .btn-primary {
    background-color: #6f42c1;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #563d7c;
  }
  
  .spinner-border {
    margin-left: 10px;
  }
  